DB_HOST=localhost
DB_PORT=5432
DB_NAME=freightline
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=replace-me-with-a-long-random-secret
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=freightline
AWS_REGION=us-east-1
AWS_S3_BUCKET=freightline-pod-dev
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
